head, body, #root, #root > div {
    height: 100%;
}

* {
    margin: 0px;
    padding: 0px;
}

#body {
    display: flex;
    flex-direction: column;
    width: 75%;
    height:180%;
    margin: 0 auto; /* 자식이 부모로 부터 가운데 정렬 */
}

#body > #body-users{
    display: flex;
    margin-top: 20px;
    block-size: 600px;
    padding-bottom: 5px;
    background-color: lightgray;
}

#body > #footer {
    width: 100%;
    background-color: orange;
    height: 200px;
}