head, body, #root, #root > div {
    height: 100%;
}

* {
    margin: 0px;
    padding: 0px;
}

#header {
    margin: 0 auto;
    width: 1024px;
    height: 100%;
}

#header-area {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 10px;
}

#header-area > #header-area-start {
    display: flex;
    justify-content: flex-start;
}

#header-area > #header-area-end {
    display: flex;
    justify-content: flex-end;
}

#header-area-start > .search {
    margin: 10px;
    background-color: #e5e3e3;
}

#header-area-start > img {
    width: 128px;
}

#header-area-end > img {
    margin-left: 8px;
}

