head, body, #root, #root > div {
    height: 100%;
}

* {
    margin: 0px;
    padding: 0px;
}

#header {
    margin: 0 auto;
    width: 1024px;
    height: 100%;
}

#header-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-area > #header-area-start {
    display: flex;
    flex : 1 1 auto;
}

#header-area > #header-area-end {
    display: flex;
    justify-content: flex-end;
}

#header-area-start > input {
    margin: 8px;
    background-color: #e5e3e3;
}

#header-area-start > img {
    width: 128px;
}

#header-area-end > img {
    margin-left: 8px;
}

